.header-section {
  padding: 1rem;
  padding-bottom: 0;
}

.name-text {
  font-size: 2.6rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.role-text {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  margin: 0.5rem 0;
  font-weight: 500;
  padding-bottom: 0.5rem;
  color: var(--color-red);
}
